NamCkiku/NamCkiku/obj/
NamCkiku/Common/obj/
NamCkiku/Models/obj/
NamCkiku/NamCkiku.Tests/obj/
NamCkiku/NamCkiku/bin/
NamCkiku/Common/bin/
NamCkiku/Models/bin/
NamCkiku/NamCkiku.Tests/bin/
NamCkiku/NamCkiku.v12.suo