@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Blogs</li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="block block-layered-nav">
                    <div class="block-content">
                        <h2>Categories</h2>
                        <ol>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">HandBag</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ol>
                    </div>
                </div>
                <div class="block">
                    <div class="title-group"><h2>Recent post</h2></div>
                    <div id="recent-post" class="owl-container">
                        <div class="owl">
                            <div class='sepecialoffer-item item'>
                                <div class="item-inner first">
                                    <div class="images-container">
                                        <a href="#" title="Demonstraverunt lectores" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-01.jpg" alt="Demonstraverunt lectores" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Demonstraverunt lectores">Demonstraverunt lectores</a></h2>
                                    </div>
                                </div>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a href="#" title="Accumsan elit " class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-02.jpg" alt="Accumsan elit " />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Accumsan elit ">Accumsan elit </a></h2>
                                    </div>
                                </div>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a href="#" title="Nunc facilisis" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-03.jpg" alt="Nunc facilisis" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                                    </div>
                                </div>
                                <div class="item-inner last">
                                    <div class="images-container">
                                        <a href="#" title="Fusce aliquam" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-04.jpg" alt="Fusce aliquam" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Fusce aliquam</a></h2>
                                    </div>
                                </div>
                            </div>
                            <div class='sepecialoffer-item item'>
                                <div class="item-inner first">
                                    <div class="images-container">
                                        <a href="#" title="Demonstraverunt lectores" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-01.jpg" alt="Demonstraverunt lectores" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Demonstraverunt lectores">Demonstraverunt lectores</a></h2>
                                    </div>
                                </div>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a href="#" title="Accumsan elit " class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-02.jpg" alt="Accumsan elit " />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Accumsan elit ">Accumsan elit </a></h2>
                                    </div>
                                </div>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <a href="#" title="Nunc facilisis" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-03.jpg" alt="Nunc facilisis" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                                    </div>
                                </div>
                                <div class="item-inner last">
                                    <div class="images-container">
                                        <a href="#" title="Fusce aliquam" class="product-image">
                                            <img src="~/Contents/images/blog/blog-sm-04.jpg" alt="Fusce aliquam" />
                                        </a>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Fusce aliquam</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.owl-container -->
                </div><!-- /.block - Recent post -->
                <div class="block">
                    <div class="title-group"><h2>Comments</h2></div>
                    <div class="block-content">
                        <div class="comment-item">
                            <h4><a href="#">Natalia Assyrian</a></h4>
                            <div class="comment-date">13 / 6 /2014 </div>
                            <p>“  Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.   “</p>
                        </div>
                        <div class="comment-item">
                            <h4><a href="#">John</a></h4>
                            <div class="comment-date">13 / 6 /2014 </div>
                            <p>“  IEodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum   “</p>
                        </div>
                        <div class="comment-item">
                            <h4><a href="#">Thomas Hurt</a></h4>
                            <div class="comment-date">13 / 6 /2014 </div>
                            <p>“  Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus   “</p>
                        </div>
                    </div>
                </div><!-- /.block - Comments -->
                <div class="block">
                    <div class="title-group"><h2>Tags</h2></div>
                    <div class="block-content">
                        <ol class="tags">
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li class="active"><a href="#">Bags</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Sweatshirts</a></li>
                            <li><a href="#">Shopping</a></li>
                            <li><a href="#">Hoodies</a></li>
                        </ol>
                    </div>
                </div><!-- /.block - Comments -->
            </div><!-- /sidebar -->
            <div class="col-sm-9">
                <div class="blog-detail blog-list">
                    <div class="blog-image"><img src="~/Contents/images/blog/blog-09.jpg" class="img-responsive" alt=""></div>
                    <div class="item">
                        <div class="item-inner">
                            <h2 class="product-name"><a title="" href="#">Demonstraverunt lectores</a></h2>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:67%" class="rating"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                                <span class="separator">|</span>
                                <span class="comment-amount"><a href="#">4 comment</a></span>
                            </div>
                            <div class="blog-attr">
                                <span>Post by <a href="#">Admin</a></span>
                                <span class="separator">|</span>
                                <span>On February 09, 2015</span>
                            </div>
                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                <div class="well well-lg">
                                    Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus.
                                </div>
                                <p>
                                    Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.
                                </p>
                            </div>
                            <div class="share-post">
                                <span class="share-label">Share this post</span>
                                <ul>
                                    <li class="color-facebook"><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li class="color-twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li class="color-pinterest"><a href="#"><span class="fa fa-pinterest"></span></a></li>
                                    <li class="color-gplus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li class="color-linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="title-group3">
                        <h3>Comments (3)</h3>
                    </div>
                    <div class="comment-list">
                        <div class="comment-item">
                            <div class="media">
                                <div class="media-left"><a href="#"><img src="~/Contents/images/avatar/avatar-04.jpg" alt=""></a></div>
                                <div class="media-body">
                                    <div class="comment-date">12.5/2104</div>
                                    <div class="comment-title">Section 1.10.33 of "de Finibus Bonorum et Malorum"</div>
                                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </div>
                            </div>
                            <div class="comment-reply">
                                <div class="media">
                                    <div class="media-left"><a href="#"><img src="~/Contents/images/avatar/avatar-04.jpg" alt=""></a></div>
                                    <div class="media-body">
                                        <div class="comment-date">12.5/2104</div>
                                        <div class="comment-title">1914 translation by H. Rackham</div>
                                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.commnent-item -->
                        <div class="comment-item">
                            <div class="media">
                                <div class="media-left"><a href="#"><img src="~/Contents/images/avatar/avatar-04.jpg" alt=""></a></div>
                                <div class="media-body">
                                    <div class="comment-date">12.5/2104</div>
                                    <div class="comment-title">Section 1.10.33 of "de Finibus Bonorum et Malorum"</div>
                                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </div>
                            </div>
                        </div><!-- /.comment-item -->
                    </div>
                    <hr>
                    <div class="title-group3">
                        <h3>Leave a reply</h3>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-md" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-md" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-md" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your comment" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default btn-lg">SUBMIT COMMENT</button>
                    </form>
                    <br>
                </div>
            </div><!-- /content -->
        </div>
    </div>
</div><!-- /.main -->
